# Configurações do Banco de Dados IBM DB2
DB_HOST=seu_host_aqui
DB_PORT=seu_port_aqui
DB_NAME=seu_database_aqui
DB_USER=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui

# Configurações do Flask
FLASK_ENV=development
FLASK_DEBUG=False
